global:
  cloudProvider: {}
  tracing: {}
  metrics: {}

mclabels:
  component: backend
  owner: infra
  partOf: config-management
  prometheus:
    enabled: true

enabled: true
replicaCount: 1
revisionHistoryLimit: 5 # Amount of revisions we keep
nodePort: 30030 # For minikube deployment only
resetOnConfigChange: false

nameOverride: ""
fullnameOverride: ""

livenessProbe:
  enabled: true
  initialDelaySeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
  path: /liveness

readinessProbe:
  enabled: true
  initialDelaySeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
  path: /liveness

podAnnotations: {}

extraVolumes: []

extraVolumeMounts: []

extraEnvVars: []

command: []
args: []
# command: [ "/bin/sh", "-c", "--" ]
# args: [ "while true; do sleep infinity; done;" ]

sidecars: []

cloudProvider:
  dockerRegistryUrl: 
  imagePullSecretName: ''
  flavor: openshift

ca:
  enabled: false
  secretName: ''
  path: '/usr/local/share/ca-certificates'
  key: 'ca.crt'

image:
  repository: config-server
  # tag: 'latest'
  pullPolicy: IfNotPresent

env:
  port: 8080
  targetPort: 8080
  protocol: TCP
  logLevel: info
  logPrettyPrintEnabled: false
  responseCompressionEnabled: true
  requestPayloadLimit: 1mb
  tracing:
    enabled: false
    url: http://localhost:55681/v1/trace
  metrics:
    enabled: false
    url: http://localhost:55681/v1/metrics

dbConfig:
  host: localhost
  username: postgres
  password: postgres
  database: config-server
  # port: 5432
  useExternalSecret: false
  secretName: secret-name
  sslAuth:
    enabled: false
    certFileName: certFile
    keyFileName: keyFile
    caFileName: caFile

resources:
  enabled: true
  value:
    limits:
      cpu: 600m
      memory: 256Mi
    requests:
      cpu: 150m
      memory: 256Mi

route:
  enabled: true
  path: /
  host: 
  timeout:
    enabled: false # defaults to 30s by openshift
    duration: 60s # Supported units (us, ms, s, m, h, d)
  rewriteTarget: ''
  tls:
    enabled: true
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
    useCerts: false
    certificate: ''
    key: ''
    caCertificate: ''

ingress:
  enabled: false
  path: /
  host: 'localhost'
  cors:
    enabled: true
    origin: '*'
