name: pull_request

on: [pull_request, workflow_dispatch]
env:
  DB_HOST: localhost
  DB_NAME: postgres

jobs:
  eslint:
    name: Run TS Project eslint
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: [22.13.1]

    steps:
      - name: Check out TS Project Git repository
        uses: actions/checkout@v5

      - name: Initialize NPM Project
        uses: MapColonies/shared-workflows/actions/init-npm@init-npm-v1
        with:
          node-version: ${{ matrix.node }}

      - name: Run TS Project linters
        run: npm run lint

  openapi-lint:
    name: Run OpenAPI lint Check
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: [22.13.1]

    steps:
      - name: Check out TS Project Git repository
        uses: actions/checkout@v5

      - name: Initialize NPM Project
        uses: MapColonies/shared-workflows/actions/init-npm@init-npm-v1
        with:
          node-version: ${{ matrix.node }}

      - name: OpenAPI Lint Checks
        run: npx @redocly/cli lint --format=github-actions openapi3.yaml


  tests:
    name: Run Tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: [22.13.1]

    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres:14
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: "postgres"
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Check out TS Project Git repository
        uses: actions/checkout@v5
        
      - name: Initialize NPM Project
        uses: MapColonies/shared-workflows/actions/init-npm@init-npm-v1
        with:
          node-version: ${{ matrix.node }}

      - name: Run tests
        run: npm run test

      - uses: actions/upload-artifact@v6
        with:
          name: Test Reporters ${{ matrix.node }}
          path: ./reports/**
